body,
html {
  font-family: "Heebo", sans-serif, "Roboto";
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
#container {
  background-color: rgb(32, 35, 37);
  display: flex;
  height: 100%;
}

.sidebar {
  background-image: url(img/trees.jpg);
  background-size: 100% 100%;
  width: 40vw;
  position: relative;
}

.caption {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  padding: 20px 15px 0 5px;
  font-size: 0.75rem;
  font-weight: 700;
  font-size: 1em;
  color: rgb(218, 216, 216);
  width: 80%;
}
.text {
  color: white;
  height: 30vh;
  padding: 1rem 2rem;
  margin: 0;
}
.text h2 {
  font-size: 1.5rem;
  margin: 10rem 6rem 2rem 1.5rem;
}
.text span {
  display: block;
  padding-top: 2rem;
}
.form-register {
  box-shadow: 0px 10px 5px #888, 0px -5px 5px #888;
  font-size: 2rem;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  height: 70vh;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}
.content {
  flex-direction: column;
  flex: 1.5;
}
.form-columns {
  display: flex;
  padding: 2rem;
  width: 100%;
  background-color: rgb(24, 26, 27);
}

.form-column {
  flex: 1;
  padding: 40px;
  box-sizing: border-box;
  align-items: center;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input {
  width: 70%;
  font-size: 1.55rem;
}
.form-row label {
  color: rgb(255, 255, 255);
  margin-bottom: -3px;
  display: block;
  font-size: 1.2rem;
}
.error-text {
  color: red;
  font-size: 1rem;
  margin-top: 0;
  width: 70%;
}
.input-field input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0 15px;
  border: 1px solid #d1d1d1;
}
invalid input {
  border-color: #d93025;
}
#submitButton {
  width: 25%;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  background-color: rgb(173, 73, 173);
  border: none;
  border-radius: 10px;
  color: white;
  letter-spacing: -1px;
  margin-top: 40px;
}
.center {
  align-items: center;
}
.logIn {
  color: white;
  margin-left: 2em;
}
